@{
    ViewBag.Title = "Contact Us!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    57 East State Street<br />
    Athens, OH 45701<br />
    <span class="glyphicon glyphicon-envelope"></span>
</address>

<address>
    <strong>Membership VP:</strong>   <a href="mailto:Support@example.com">ohiougammaphimvp@gmail.com</a><br />
</address>